.dropdown{
    display:inline-block;
}
.dropdown button{
    background-color: magenta;
    color:black;
    padding:10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display:block;
    color:white;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    position: absolute;
    background-color: rgb(12, 6, 10);
    display: none;
    min-width: 100px;
    box-shadow: 2px 2px 5px darkorchid;
}
.dropdown:hover .content{
    display:block;
}
.dropdown:hover button{
    background-color: rgb(34, 16, 39);
}
.dropdown a:hover{
    background-color: rgb(236, 172, 201);
}