.DropDown{
    display:inline-block;
}
.DropDown button{
    background-color: magenta;
    color:black;
    padding:10px 15px;
    border: none;
    cursor: pointer;
}
.DropDown a{
    display:block;
    color:white;
    text-decoration: line-through;
    padding: 10px 15px;
}
.DropDown.content{
    display: none;
    position:absolute;
    background-color: darkslategray;
    min-width: 100px;
    box-shadow: 2px 2px 5px darkorchid;
}
.DropDown:hover.content{
    display:block;
}
.DropDown:hover button{
    background-color: rgb(34, 16, 39);
}
.DropDown a:hover{
    background-color: rgb(236, 172, 201);
}